<%- include('../partials/..header.ejs') %>

<h1>WELCOME, <%= author.first_name %> <%= author.last_name %></h1><br>
<h2>WRITE YOUR ARTICLE</h2><br>
<h3 class="ft-size-18"><%= message %></h3><br>


<%- include('../partials/..form_articles.ejs') %>


<%- include('../partials/..footer.ejs') %>