<%- include('../partials/..header.ejs') %>

<h1>Edit Article</h1>

<form action="/articles/<%= article.id %>?_method=PUT" method="post">
    <div class="mb4 mt10">
        <label for="title" class="bold ft-size-18">Title</label><br/>
        <input type="text" value="<%= article.title %>" name="title" id="title" required class="ft-size-18 pd-10 b-o-none wd300" placeholder="title of your article" /><br/>
    </div>
    <div class="mb4 mt10">
        <select name="tags" id="tags" multiple class="ft-size-18 pd-10 wd300">
            <option value="music">music</option>
            <option value="politics">politics</option>
            <option value="programming">programming</option>
            <option value="technology">technology</option> 
            </select>
    </div>
    <div class="mb4 mt10">
        <label for="description" class="bold ft-size-18">Description</label><br/>
        <textarea name="description" id="description" class="ft-size-18 pd-10 b-o-none wd300" required placeholder="description of your article"><%= article.description %></textarea><br/>
    </div>
    <div class="mb4 mt10">
        <label for="details" class="bold ft-size-18">Details</label><br/>
        <textarea name="details" id="details" class="ft-size-18 pd-10 b-o-none wd300" placeholder="in markdown language" required><%= article.details %></textarea><br/>
    </div>
    <div class="mb4 mt10">
        <button class="pd-10 bg-green green-blue-hover ft-size-18 txt-cnt clr b-o-none" id="cancel">Cancel</button>
        <button type="submit" class="pd-10 bg-green green-blue-hover ft-size-18 txt-cnt clr b-o-none">Save</button>
    </div>
 </form>
 <script>
    const cancel = document.getElementById('cancel')

    cancel.addEventListener('click', (e) => {
        history.back()
    })
 </script>


<%- include('../partials/..footer.ejs') %>