<%- include('../partials/..header.ejs') %>

    <div class="container">
      <div class="flex-row j-center">
      <a href="/" class="pd-10 bg-green green-blue-hover ft-size-18 txt-cnt clr">Get All Articles</a>
      <a href="/articles/searchArticle" class="pd-10 bg-green green-blue-hover ft-size-18 txt-cnt clr">Get Articles</a>
      </div>

      <div class="grid">
        <% articles.forEach( article => { %>
            <div class="pd-10 bx-sh mt10 wrap-texts">
               <h4 class="ft-size-18"><%= article.title %></h4> 
               <p class="shade"><%= article.createdAt.toLocaleDateString() %>, created by <%= article.author %></p><br><br>
               <p><%= article.description %></p>
               <div class="mt10">
                <a href="/articles/readArticle/<%= article.slug %>" class="pd-5 bg-green green-blue-hover ft-size-18 txt-cnt clr">Read</a>
               </div>
      
            </div>
          <% }) %>
      </div>

    </div>

    <%- include('../partials/..footer.ejs') %>