<%- include('../partials/..header.ejs') %>

    <div class="container">
      <h1 class="mb4 txt-cnt pd-10">BLOG ARTICLES</h1>
      <div class="flex-row j-center">
      <a href="/articles/createNewArticle" class="pd-10 bg-green green-blue-hover ft-size-18 txt-cnt clr">Write Article</a>
      <a href="/articles/getArticle" class="pd-10 bg-green green-blue-hover ft-size-18 txt-cnt clr">Get Articles</a>
      <a href="/profile" class="pd-10 bg-green green-blue-hover ft-size-18 txt-cnt clr">Go to profile</a> <br>
      </div>

      <div class="grid">
        <% articles.forEach( article => { %>
            <div class="pd-10 bx-sh mt10">
               <h4 class="ft-size-18"><%= article.title %></h4> 
               <p class="shade"><%= article.createdAt.toLocaleDateString() %>, created by </p><br><br>
               <p><%= article.description %></p>
               <div class="mt10">
                <a href="/articles/<%= article.slug %>" class="pd-5 bg-green green-blue-hover ft-size-18 txt-cnt clr">Read</a>         <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="inline b-o-none">
                <button type="submit" class="pd-5 bg-green green-blue-hover ft-size-18 txt-cnt clr b-o-none shade">Delete</button>
               </form>
               </div>
      
            </div>
          <% }) %>
      </div>

    </div>

    <%- include('../partials/..footer.ejs') %>